<footer class="footer mt-auto py-3 bg-light my-footer">
  <div class="container text-center">
    <span class="text-muted">@Copyright - Mike Logovi alias le Dresseur de Code - <%=Date.today.year
%></span>
  </div>
</footer>