        <header class="masthead">
            <div class="container px-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <!-- Mashead text and app badges-->
                        <div class="mb-5 mb-lg-0 text-center text-lg-start">
                            <h1 class="display-1 lh-1 mb-3"><%=t("p1")%><br/><span class="monster-effect">Effet Monstre</span> !</h1>
                            <p class="lead fw-normal text-muted mb-5"><%=t("p2")%></p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="masthead-device-mockup">
                            <img src="https://www.dropbox.com/s/uhvrbfzxcyvaehi/undraw_Developer_activity_re_39tg.png?raw=1"/>
                        </div>
                    </div>
                </div>
            </div>
        </header>